### An example of basic bioimage analysis script

In [38]:
# Importing all the necessary packages
import skimage.measure
from skimage import io, filters 
import pandas as pd

In [39]:
#Reading an image
image = io.imread('C:\\Users\\ssivagur\\Documents\\Blogpost\\test.tif')

In [7]:
#Thresholding the input image
thresholded_image = skimage.filters.threshold_otsu(image)

In [12]:
#Binarizing the input image 
binary = image > thresholded_image

In [18]:
# Calculating the perimeter of the objects in the binary image
perimeter = skimage.measure.perimeter(binary, neighbourhood=4)

In [22]:
#Making a labelled image to calculate more properties of the objects
label_image = skimage.measure.label(binary)

In [40]:
# Calculating the properties of the objects 
measurements = skimage.measure.regionprops_table(label_image, properties=('label', 'bbox'))

In [36]:
# Dsiplaying the properties of the objects
df = pd.DataFrame(measurements)

In [37]:
df

      label  bbox-0  bbox-1  bbox-2  bbox-3
0         1      43      99      46     102
1         2      46     109      53     114
2         3      49      63      53      68
3         4      55      74      56      76
4         5      61     101      69     106
...     ...     ...     ...     ...     ...
3392   3393    2468     167    2469     170
3393   3394    2469     852    2480     859
3394   3395    2470     121    2474     123
3395   3396    2530    2492    2548    2515
3396   3397    2545    2466    2552    2476

[3397 rows x 5 columns]