### An example of basic bioimage analysis script

In [26]:
# Importing all the necessary packages
import skimage.measure
from skimage import io, filters 
import pandas as pd

In [36]:
#Reading an image
url = 'https://github.com/sugan89/Introduction_To_Docker/blob/main/RPE.tif?raw=true'
image = io.imread(url)

In [35]:
#Thresholding the input image
thresholded_image = skimage.filters.threshold_otsu(image)

In [37]:
#Binarizing the input image 
binary = image > thresholded_image

In [38]:
# Calculating the perimeter of the objects in the binary image
perimeter = skimage.measure.perimeter(binary, neighbourhood=4)

In [39]:
print(f'The perimeter of the binary object is {perimeter}')

The perimeter of the binary object is 52322.66194095841

In [8]:
#Making a labelled image to calculate more properties of the objects
#label_image = skimage.measure.label(binary)

In [9]:
# Calculating the properties of the objects 
#measurements = skimage.measure.regionprops_table(label_image, properties=('label', 'bbox'))

In [10]:
# Dsiplaying the properties of the objects
#df = pd.DataFrame(measurements)

In [11]:
#df

     label  bbox-0  bbox-1  bbox-2  bbox-3
0        1       0    1009      30    1026
1        2       0    1020     221    1092
2        3      26    1029      27    1030
3        4      31    1024      34    1027
4        5      35    1027      40    1029
..     ...     ...     ...     ...     ...
773    774     846     451     847     452
774    775     846     475     852     484
775    776     851     468     855     474
776    777     855     400     863     468
777    778     858     388     862     399

[778 rows x 5 columns]